<style>

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Merriweather');




th {
background-color:#55FF33;
    font-family: 'Merriweather', serif;
}
td {
background-color:#00FFFF;
    font-family: 'Merriweather', serif;
}
</style>

